.head{
    display: flex;
    gap: 194px;
    justify-content: space-around;
    align-items: center;
}
.left{
    font-weight: bold;
    
}
.content{
    text-align: center;
    background-color: rgb(109, 109, 199);
    height: 667px;
    color: white;
    display: grid;
    align-content: center;

}

.p{
    max-width: 263px;
    margin-left: 50px;
    margin-top: 0;
}

.explore{
    max-width: 123px;
    height: 30px;
    margin-left: 116px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px black ;
    display: grid;
    align-items: center;
}
h2{
    text-align: center;
margin-top: 50px;
}
.m{
   width: 360px; 
   margin-left: 15px;
}
.text{
    text-decoration-style: solid;
    font-size: 20px;
}

